/* Start Basics */
*,
::after,
::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins", "sans-serif";
    margin: 0;
}

a,
span {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
/* End Basics */

/* Start Header */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    width: 100%;
    padding: 10px;
}
.card {
    background: white;
}
.card {
    background-color: white;
    box-shadow: 0px 0px 20px 0px #80808045;
}

.card img {
    width: 100%;
}
/* End Header */

@media screen and (min-width: 768px) {
    .col {
        width: 50%;
    }
}
@media screen and (min-width: 990px) {
    .col {
        width: 33.333%;
    }
}
@media screen and (min-width: 1200px) {
    .col {
        width: 25%;
    }
}
