/* Start Basics */
*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1 h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

a,
span {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
/* End Basics */

/*
 align-self: ✅

 order:

 flex-grow:

 flex-shrink:

 flex-basis:
 
*/

/* Start Header */
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: 25%;
  padding: 20px;
}
.card img {
  width: 100%;
}
/* End Header */
